{% extends 'home.html' %}
{% load static%}
{% load nagne_filter %}
{% block content %}
<!-- About-->
<div class="container-fluid">
  <div class="row">
    <nav style="position:fixed; height:100%;" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Study youbeen</span>
        </h6>
        <hr>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#django">
              Django
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#c">
              C-Programming
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#backend">
              Backend
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#algorithm">
              Algorithm
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#swift">
              Swift
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
        <div class="container my-3">
            <div  class="col-6 offset-6">
                <div class="d-flex input-group">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search_kw" value="{{ kw|default_if_none:'' }}">
                    <div>
                        <button class="btn btn-outline-secondary" type="submit" id="btn_search">검색</button>
                    </div>
                </div>
            </div>

            <table class="table">
                <thead>
                <tr class="text-center">
                    <th>번호</th>
                    <th style="width:50%">제목</th>
                    <th>글쓴이</th>
                    <th>작성일시</th>
                </tr>
                </thead>
                <tbody>
                {% if post_list %}
                {% for post in post_list %}
                <tr class="text-center">
                     <td>
                        <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                        {{ post_list.paginator.count|sub:post_list.start_index|sub:forloop.counter0|add:1 }}
                    </td>
                    <td class="text-start">
                        <a href="{% url 'nagne:detail' post.id %}">{{ post.subject }}</a>
                         {% if post.answer_set.count > 0 %}
                        <span class="text-danger small mx-2">{{ post.answer_set.count }}</span>
                        {% endif %}
                    </td>
                    <td>{{ post.author.username }}</td>
                    <td>{{ post.create_date }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="4">게시글이 없습니다.</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            <!-- 페이징처리 시작 -->
            <ul class="pagination justify-content-center">
                <!-- 이전페이지 -->
                {% if post_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ post_list.previous_page_number }}" href="javascript:void(0)">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
                {% endif %}
                <!-- 페이지리스트 -->
                {% for page_number in post_list.paginator.page_range %}
                {% if page_number >= post_list.number|add:-5 and page_number <= post_list.number|add:5 %}
                {% if page_number == post_list.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
                <!-- 다음페이지 -->
                {% if post_list.has_next %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ post_list.next_page_number }}" href="javascript:void(0)">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
                {% endif %}
            </ul>
            <!-- 페이징처리 끝 -->
            <div class="col-6 offset-11">
                    <a href="{% url 'nagne:post_create' %}" class="btn btn-primary">글쓰기</a>
            </div>
        </div>
        <form id="searchForm" method="get" action="{% url 'nagne:post_list' %}">
            <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
            <input type="hidden" id="page" name="page" value="{{ page }}">
        </form>
    </main>
  </div>
</div>
{% endblock %}
