{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!-- nagne CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>CONA</title>
</head>
<body>

<!-- Navigation-->
{% include "navbar.html" %}

<div style="padding-top:55px;">
    {% block content %}
    {% endblock %}
</div>


<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">We are SW development Study Group</div>
        <div class="masthead-heading text-uppercase">Code.Nageune</div>
        <a style="text-decoration: none; color: #fff;" class="btn btn-primary btn-xl text-uppercase" href="{% url 'nagne:about' %}">About us</a>
    </div>
</header>

<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; Codenageune 2022</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn" href="https://www.instagram.com/code.nageune/"><i> Instagram</i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="http://sicte.konkuk.ac.kr/main.do"><i>Department of Smart ICT Convergence</i></a>
            </div>
        </div>
    </div>
</footer>


<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
<!-- 자바스크립트 Start -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>